body {
  background-color: #222831;
}

p, ul, table {
  font-family: sans-serif;
  color: #eee;
}

img {
  height: 25%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color:#393e46;
  align-self: center;
  width: 4%;
}
h1, h2, h3{
  color:#00adb5;
  font-family: verdana;
}
h4{
  color:#aaa;
}
